[user]
  name = Mateus Linhares
  email = mateuslinhares@gmail.com
[alias]
  co=checkout
  br=branch
  ci=commit
  st=status
[giggle]
  compact-mode = false
  main-window-maximized = true
  main-window-geometry = 0x0+0+0
  file-view-vpane-position = 85
  history-view-vpane-position = 669
  main-window-view = HistoryView
[core]
  editor = vim
  excludesfile = /home/mlinhares/.gitignore
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[push]
  default = matching
[url "ikwa@192.168.0.139:"]
  insteadOf = ikwa:
