[user]
  name = Mateus Linhares
  email = mateuslinhares@gmail.com
[alias]
  co=checkout
  br=branch
  ci=commit
  st=status
[core]
  editor = vim
  excludesfile = /home/mlinhares/.gitignore
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[push]
  default = matching
