[user]
  name = Mateus Linhares
  email = mateuslinhares@gmail.com
[alias]
  co=checkout
  br=branch
  ci=commit
  st=status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  who = shortlog -s --
  fl = log -p
  lgs = log --oneline --decorate
  sb = status -sb
  dw = diff --word-diff
[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = less -r
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[color "branch"]
  current = yellow bold
  local = yellow
  remote = red
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  header = normal bold
  added = green bold
  changed = red bold
  untracked = yellow bold
[push]
  default = matching
[branch]
  autosetuprebase = always
[help]
  autocorrect = 1
