snippet hide 
	 page.hide ${1:ids}

snippet ins
	 page.insert_html :${1:top}, ${2:id}, :partial => "${3:template}"

snippet reph
	 page.replace_html ${1:top}, :partial => "${2:template}"

snippet rep
	 page.replace ${1:top}, :partial => "${2:template}"

snippet show
	 page.show ${1:ids}

snippet tog
	 page.toggle ${1:ids}

snippet vis
	 page.visual_effect :${1:tootle_slide}, ${2:dom_id}
